[Unit]
Description=MIDI pedal
After=network.target bluetooth.service hciuart.service
Wants=network-online.target bluetooth.target

[Service]
Restart=always
Type=simple
ExecStart=/opt/midibox/midibox.sh
Environment=

[Install]
WantedBy=multi-user.target
